body {
}
.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-color: #67e6dc;   */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nav-items {
    display: flex;
    list-style: none;
}
.nav-items > li {
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    color: #8e44ad;
    padding-right: 20px;
    cursor: pointer;
}
.nav-items > li:hover {
    font-size: 22px;
    color: #8e44ad;
}
.card {
    /* border: 1px solid red; */
   margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   height: 350px;
   width: 250px;
   padding: 10px;
   cursor: pointer;
    border-radius: 20px;
}
.card > img {
    height: 150px;
    width: 250px;
    border-radius: 20px;

    /* margin: 5px; */
}