.logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.nav-items {
    display: flex;
    list-style: none;
}
.nav-items > li {
    padding: 10px;
    font-size: large;
    font-weight: bolder;
    color: #F79F1F;
}
.card {
    /* border: 1px solid red; */
   margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   height: 400px;
   width: 300px;
    
}
.card > img {
    height: 200px;
    width: 300px;
    border: 1px solid black;
}